Source: gmic
Section: graphics
Priority: optional
Maintainer: BULIN Claude <xcfaudio@gmail.com>
Build-Depends: debhelper (>= 5), autotools-dev, pkg-config
Standards-Version: 3.8.0

Package: gmic
Architecture: any
Depends: libbz2-1.0, libc6 (>= 2.3.5-1), libfreetype6 (>= 2.2), libgcc1 (>= 1:4.1.1-12), libice6 (>= 1:1.0.0), libjasper1 | libjasper-1.701-1 (>= 1.701.0), libjpeg62, liblcms1 (>= 1.08-1), libmagick++10 | libmagick++9c2a | libgraphicsmagick++1, libmagick10 | libmagick9 | libmagickcore1, libpng12-0 (>= 1.2.13-4), libsm6, libstdc++6 (>= 4.1.1-12), libtiff4, libx11-6, libxext6, libxml2 (>= 2.6.27), libxrandr2, libxt6, zlib1g (>= 1:1.2.1), fftw3 | libfftw3-3, libopenexr6
Description: G'MIC: GREYC's Magic Image Converter
 This project aims at defining a minimal but powerful script language (G'MIC) dedicated
 to image processing. The interpreter of this language is distributed as an open-source
 module/library embeddable in third-party applications. G'MIC can be used to define
 complex image processing pipelines for converting, manipulating, filtering and visualizing
 generic 1D/2D/3D multi-spectral image datasets. Of course, it is able to manage color images,
 but also more complex data as image sequences or 3D volumetric data.
 .
 G'MIC is an open framework : it is possible to extend the proposed default language with
 custom G'MIC-written commands, defining thus new image filters. By the way, it already
 contains a substantial set of pre-defined image processing algorithms.
 .
 In this package, you will find two binary tools based on the G'MIC interpreter :
 .
   * A binary executable gmic for using the G'MIC interpreter from the command line.
   * An interactive plug-in gmic_gimp for extending the capabilities of the image retouching
     software GIMP.
 .
 G'MIC has been developed in the Image Team of the GREYC laboratory, in Caen/France, by permanent
 researchers working in the image processing field.
 .
 http://gmic.sourceforge.net
