Source: gmic
Section: graphics
Priority: optional
Maintainer: Jakub Wilk <ubanus@users.sf.net>
Build-Depends: debhelper (>= 7.0.50),
 cimg-dev (>= 1.3),
 libgraphicsmagick++-dev,
 libgimp2.0-dev (>= 2.4),
 libavcodec-dev, libavformat-dev, libswscale-dev, libfftw3-dev
Standards-Version: 3.8.3
Homepage: http://gmic.sourceforge.net/

Package: gmic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: gmic-doc, gimp-gmic
Description: GREYC's Magic Image Converter
 G'MIC is an interpreter of image processing macros whose goal is to
 convert, manipulate and visualize generic 1D/2D/3D multi-spectral
 image files. This includes classical color images, but also more
 complex data as image sequences or 3D volumetric images.
 .
 This package contains the stand-alone binary.

Package: gmic-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}, libjs-mootools
Suggests: gmic, gimp-gmic
Description: Documentation for GREYC's Magic Image Converter
 G'MIC is an interpreter of image processing macros whose goal is to
 convert, manipulate and visualize generic 1D/2D/3D multi-spectral
 image files. This includes classical color images, but also more
 complex data as image sequences or 3D volumetric images.
 .
 This package contains the HTML documentation.

Package: gimp-gmic
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: gmic, gmic-doc
Description: GIMP plugin for GREYC's Magic Image Converter
 G'MIC is an interpreter of image processing macros whose goal is to
 convert, manipulate and visualize generic 1D/2D/3D multi-spectral
 image files. This includes classical color images, but also more
 complex data as image sequences or 3D volumetric images.
 .
 This package contains the GIMP plugin.
