#!/usr/bin/make -f

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_auto_build:
	dh_auto_build
	cd zart && make

override_dh_auto_install:
	dh_auto_install
	cd zart && make install DESTDIR=$(CURDIR)/debian/tmp

%:
	dh $@

# vim:ts=4 sw=2 noet
